body {
    background: #eee;
}

.wrapper {
    display: flex;
}

.canvas-wrapper {
}

.editor {
    margin-left: 20px;
    padding: 20px 0;
    border: 1px solid #555;
    border-radius: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

div[class$="content"] {
    padding: 10px;
}

.collapsible-content {
    display: none;
    overflow: hidden;
}

div[class$="input"] {
    display: flex;
    margin-bottom: 10px;
    width: 340px;
}

div[class$="input"] > label {
    margin: 0 10px;
}

div[class$="input"] > label:first-child {
    flex-grow: 1;
    margin-left: 0;
}

div[class$="input"] > input[type=number] {
    width: 50px;
}